<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cDashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/headerFooter.css') }}">
  <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
  <title>Dashboard</title>
</head>

<body style="background-color: var(--website-background);">
  {% include 'header.html' %}

  <main>
    <div class="left-nav">
      <button class="nav-btn" onclick="showPanel(0)">Current Order</button>
      <button class="nav-btn" onclick="showPanel(1)">Previous Orders</button>
    </div>
    <div class="nav-content">
      <div class="content-container">
        <div class="container-heading">
          <h2>Your Cart</h2>
        </div>
        <div class="inner-container">
          <!-- add content here -->
          <div class="contents">
            <div class="content-img"><img src="{{ url_for('static', filename='images/productimg/onion.jpg') }}" alt="product"></div>
            <div class="productinfo">
              <div class="productname">
                <h3>Onion</h4>
              </div>
              <div class="productpricing">
                <p>Price: &#x20b9; 50/kg</p>
                <p>Quantity: 5kg</p>
              </div>
              <p class="totalprice">Product Cost: &#x20b9; 250</p>
            </div>
            <button class="remove-btn">Remove</button>
          </div>
        </div>
        <button class="transaction" onlcick="window.location.href='transaction.html'">Proceed to Pay</button>
      </div>
      <div class="content-container">
        <div class="container-heading">
          <h2>Previous Order</h2>
        </div>
        <div class="inner-container">
          <!-- add content here -->
          <div class="contents">
            <div class="content-img"><img src="{{ url_for('static', filename='images/productimg/tomato.jpg') }}" alt="product"></div>
            <div class="productinfo">
              <div class="productname">
                <h3>Onion</h4>
              </div>
              <div class="productpricing">
                <p>Price: &#x20b9; 50/kg</p>
                <p>Quantity: 5kg</p>
              </div>
              <p class="totalprice">Product Cost: &#x20b9; 250</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>