<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/headerFooter.css')}}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <title>Welcome</title>
</head>

<body style="padding-top: 60px;">
{% include 'header.html' %}
  <main>
    <div class="welcome1-container">
      <div class="welcome1">
        <h1>Welcome To,<span style="color: rgb(255, 255, 255, 0.85);"><br>
            Farm
          </span>
          <span style="color: rgb(87, 159, 61);">
            Easy
          </span>
        </h1>
        <h2>
          Bringing Fresh Farm Produce to Your Doorstep sustainably 
        </h2>
        {% if user==NULL %}
        <a class="joinus-btn" href="/login">Join Us</a>
        {% else %}
        <a class="shopnow-btn" href="/staticSearch/{{user}}/{{name}}">Shop Now</a>
        {% endif %}
      </div>
      <div class="innergradient1"></div>
    </div>
    <div class="welcome2-container" data-aos="fade-left" data-aos-duration="1000">
      <div class="welcome2">
        <div class="inner-welcome2">
          <h2>Sell products using our platform to reach out to over
            <strong>8000</strong> people.</h2>
            {% if user!=NULL and farmer=='NULL' %}
            <a class="producer-btn" href="/dataentrypage/{{user}}/{{name}}">I am a Producer</a>
            {% elif user!=NULL and farmer!='NULL' %}
            <a class="producer-btn" href="/pDashboard/{{user}}/{{name}}/{{farmer}}">I am a Producer</a>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="welcome3-container" data-aos="fade-right" data-aos-duration="1000">
      <div class="welcome3">
        <div class="inner-welcome3">
          <h2>Sell products using our platform to reach out to over
            <strong>8000</strong> people.</h2>
        </div>
      </div>
    </div>

    <div class="welcome4-container" data-aos="fade-left" data-aos-duration="1000">
      <div class="welcome4">
        <div class="inner-welcome4">
          <h2>We try our best to reduce our 
            <strong>Carbon Footprint</strong> by using sustainable Electric energy where ever possible</h2>
        </div>
      </div>
    </div>
  </main>
{% include 'footer.html' %}
</body>
<script>
  AOS.init();
</script>

</html>