<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/headerFooter.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataentry.css') }}">
  <title>Data Entry</title>
</head>

<body style="background-color: var(--website-background);">
  {% include 'header.html' %}

  <div class="container">
    <form action="/dataentry/{{user}}/{{name}}/{{farmer}}" method="post">
      <h2>Product Form</h2>
      <p>Select product category:</p>
      <select name="category" required>
        <option value="none" selected disabled hidden>Select an option</option>
        <option value="dairy">Dairy</option>
        <option value="fruit">Fruits</option>
        <option value="grain">Grains</option>
        <option value="spice">Spices</option>
        <option value="vegetable">Vegetables</option>
      </select>
      <p>Select your product name:</p>
      <select name="productname" required>
        <option value="none" selected disabled hidden>Select an option</option>
        <option value="apple">Apple</option>
        <option value="blackpepper">Black Pepper</option>
        <option value="capsicum">Capsicum</option>
        <option value="carrot">Carrot</option>
        <option value="cheese">Cheese</option>
        <option value="chillipowder">Chilli Powder</option>
        <option value="cinnamon">Cinnamon</option>
        <option value="curd">Curd</option>
        <option value="flour">Flour</option>
        <option value="grape">Grapes</option>
        <option value="milk">Milk</option>
        <option value="onion">Onion</option>
        <option value="orange">Orange</option>
        <option value="paneer">Paneer</option>
        <option value="potato">Potato</option>
        <option value="pulse">Pulses</option>
        <option value="rice">Rice</option>
        <option value="sweetpotato">Sweet potato</option>
        <option value="tomato">Tomato</option>
        <option value="turmeric">Turmeric Powder</option>
        <option value="watermelon">Watermelon</option>
      </select>
      <p>Enter product description:</p>
      <textarea name="description" type="text" cols="40" rows="5" placeholder="Enter text here"></textarea>
      <p>Enter product amount(kg):</p>
      <input name="amount" type="number" required>
      <p>Enter price/kg:</p>
      <input name="price" type="number">
      <div class="submit-btn">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</body>

</html>