<footer>
  <div class="footer" id="foot">
    <div class="footer-container">
      <div class="footer-inner">
        <p class="heading">About Us</p>
        <p class="content">Creating a platform for farmers to easily post their available produce 
          and for consumers to search and purchase products online
          Developing a rating system to ensure quality control and allow for feedback from both parties.
        </p>
      </div>
      <div class="footer-inner">
        <p class="heading">Contact Info</p>
        <p class="content">Address: St. Francis Institute of Technology, Sardar Vallabhbhai Patel Rd, 
          Mount Poinsur, Borivali West, Mumbai. <br>Pincode: 400103<br>
          Phone: +91 22 2892 8585
        </p>
      </div>
      <div class="footer-inner">
        <p class="heading">Newsletter</p>
        <p class="content">Get News and know about us more on your email</p>
        <input class="inputemail" type="email" placeholder="Email">
        <a href=""><i class="fa fa-paper-plane-o"></i></a>
      </div>
      <div class="footer-inner">
        <p class="heading">Follow Us</p>
        <p class="content">Let us be social. Follow us on<br>Facebook, Instagram, Twitter, LinkedIn</p>
        <div class="icons">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
    </div>
    <div class="finalfooter">
      <p>Copyright &copy; 2023 FarmEasy All Rights Reserved<br><a class="policy" href="#">Privacy Policy</a></p>
    </div>
  </div>
</footer>