<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/headerFooter.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Product</title>
</head>

<body>
  {% include 'header.html' %}
  <main>
    <div class="categorynav">HOME > {{result[4]}} > {{result[1]}}</div>
    <div class="productcontainer">
      <div class="productimage">
        <img src="../images/welcome2.jpg">
      </div>
      <div class="productinfo">
        <h2>Onion</h2>
        <p>Category</p>
        <p class="description">Vegetable
        </p>
        <p class="price"><strong>Price: &#x20b9;{{result[3]}}</strong> /kg</p>
        <form>
          <input type="number">
          <p style="display: inline-block;">kg</p>

          <i class="fa fa-truck"></i>
          <p class="shipping">Standard: Tomorrow 9:00AM - 1:30PM</p>
          <button type="submit">Add to Cart</button>
        </form>
      </div>
    </div>
    <form action="review" class="review">
      <textarea name="review" type="text" cols="40" rows="5" placeholder="Enter text here"></textarea>
      <div class="submitcontainer">
        <select name="rating" required>
          <option value="0" selected disabled hidden>Select an option</option>
          <option value="1">⭐</option>
          <option value="2">⭐⭐</option>
          <option value="3">⭐⭐⭐</option>
          <option value="4">⭐⭐⭐⭐</option>
          <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
        <button type="submit">Submit Review</button>
      </div>
    </form>
    <div class="review-box-container">
      <div class="review-box" data-aos="fade-right" data-aos-duration="1000">
        <div class="box-top">
          <div class="profile">
            <div class="profile-img">
              <img src="{{ url_for('static', filename='images/reviewpic.png') }}" alt="">
            </div>
            <div class="user-name">
              <strong>{{username}}</strong>
              <span>{{email}}</span>
            </div>
          </div>
          <div class="reviews">
            <!-- for i in range -->
            <span class="fas fa-star"></span>
            <!-- endfor -->
          </div>
        </div>
        <div class="client-comments">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut atque quam quidem incidunt tempore
            dignissimos, laboriosam nobis labore aperiam quas voluptatem, at culpa necessitatibus. Excepturi eligendi et
            asperiores quaerat molestiae.</p>
        </div>
      </div>
    </div>
  </main>
  {% include 'footer.html' %}
</body>

</html>