<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/72215895a8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/staticSearch.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/headerFooter.css') }}">
  <title>Search</title>
</head>

<body>
{% include 'header.html' %}
  <div class="wrapper">
    <form action="/dynamicsearch/{{user}}/{{name}}" method="post">
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input name="search" type="text" placeholder="Type to search..">
        <div class="autocom-box">
          <!-- here list are inserted from javascript -->
        </div>
        <div class="icon" type><i class="fas fa-search"></i></div>
      </div>
    </form>
  </div>



  <!-- image slide 1 -->

  <div id="show1">

  </div>

  <div class="btn">
    <button id="Vegetables"><a href="#Vegetables">Vegetables</a></button>
    <button id="Fruits"><a href="#Fruits">Fruits</a></button>
    <button id="Spices"><a href="#Spices">Spices</a></button>
    <button id="Dairy"><a href="#Dairy">Dairy</a></button>
    <button id="Dairy"><a href="#Grains">Grains</a></button>

  </div>





  <main>
    <!-- main container -->
    <div id="container">



      <!-- bank offer div -->
      <div class="mainDiv">
        <h3>Bank Offers</h3>
        <hr>

        <div class="subDiv">

          <div>
            <img src="{{ url_for('static', filename='images//searchimage/bank1.png') }}" alt="bank1">

          </div>
          <div>
            <img src="{{ url_for('static', filename='images//searchimage/bank2.png') }}" alt="bank2">

          </div>
          <div>
            <img src="{{ url_for('static', filename='images//searchimage/bank3.png') }}" alt="bank3">

          </div>
          <div>
            <img src="{{ url_for('static', filename='images//searchimage/bank4.png') }}" alt="bank4">

          </div>
        </div>

        <!-- Popular offer div -->
        <div class="mainDiv">
          <h3>Most Popular</h3>
          <hr>

          <div class="subDiv">

            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/apple.jpg') }}" alt="Apple">
              <p>Apple</p>
              <h4>UP TO 30% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/milk.jpg') }}" alt="Milk">
              <p>Milk</p>
              <h4>UP TO 35% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/rice.jpg') }}" alt="Rice">
              <p>Rice</p>
              <h4>UP TO 60% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/potato.jpg') }}" alt="Potato">
              <p>Potato</p>
              <h4>UP TO 10% OFF</h4>
            </div>

          </div>
        </div>

        <!-- Dairy div -->
        <div class="mainDiv">
          <h3>Dairy</h3>
          <hr>

          <div class="subDiv">

            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/cheese.jpg') }}" alt="Cheese">
              <p>Cheese</p>
              <h4>UP TO 30% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/curd.jpg') }}" alt="Curd">
              <p>Curd</p>
              <h4>UP TO 25% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/milk.jpg') }}" alt="Milk">
              <p>Milk</p>
              <h4>UP TO 25% OFF</h4>
            </div>
            <div id="Dairy">
              <img class="smSize" src="{{url_for('static', filename='images/productimg/paneer.jpg') }}" alt="Paneer">
              <p>Paneer</p>
              <h4>UP TO 30% OFF</h4>
            </div>

          </div>
        </div>

        <!-- fruit store div -->
        <div class="mainDiv">
          <h3>fruit Strore</h3>
          <hr>

          <div class="subDiv">

            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/apple.jpg') }}" alt="Apple">
              <p>Apple</p>
              <h4>UP TO 30% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/grape.jpg') }}" alt="Grape">
              <p>Grape</p>
              <h4>UP TO 55% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/orange.jpg') }}" alt="Orange">
              <p>Orange</p>
              <h4>UP TO 50% OFF</h4>
            </div>
            <div id="fruits">
              <img class="smSize" src="{{url_for('static', filename='images/productimg/watermelon.jpg') }}" alt="Watermelon">
              <p>Watermelon</p>
              <h4>UP TO 50% OFF</h4>
            </div>

          </div>
        </div>

        <!-- Grain  div -->
        <h3>Grain</h3>
        <hr>

        <div class="mainDiv">
          <div class="subDiv">
            <div >
              <img class="smSize" src="{{url_for('static', filename='images/productimg/flour.jpg') }}" alt="Floor">
              <p>Floor</p>
              <h4>Up To 60% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/pulse.jpg') }}" alt="Pulses" />
              <p>Pulses</p>
              <h4>UP TO 35% OFF</h4>
            </div>
            <div id="Grains">
              <img class="smSize" src="{{url_for('static', filename='images/productimg/rice.jpg') }}" alt="Rice">
              <p>Rice</p>
              <h4>UP TO 60% OFF</h4>
            </div>
          </div>
        </div>

        <!-- Spices div -->
        <h3>Spices</h3>
        <hr>

        <div class="mainDiv">
          <div class="subDiv">
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/blackpepper.jpg') }}" alt="Black paper">
              <p>Black paper</p>
              <h4>Up To 35% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/chillipowder.jpg') }}" alt="chilli powder">
              <p>chilli powder</p>
              <h4>UP TO 50% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/cinnamon.jpg') }}" alt="Cinnamon">
              <p>Cinnamon</p>
              <h4>UP TO 15% OFF</h4>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/turmeric.jpg') }}" alt="Turmeric powder">
              <p>Turmeric powder</p>
              <h4>UP TO 40% OFF</h4>
            </div>
          </div>
        </div>

        <!-- Vegetables div grid -->
        <h3>Vegetables</h3>
        <hr>

        <div class="mainDiv">
          <div class="subDiv">

            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/capsicum.jpg') }}" alt="Capsicum">
              <p>Capsicum</p>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/carrot.jpg') }}" alt="Carrot">
              <p>Carrot</p>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/onion.jpg') }}" alt="Onion">
              <p>Onion</p>
            </div>
          </div>
        </div>

        <div class="mainDiv">

          <div class="subDiv">
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/potato.jpg') }}" alt="Potato">
              <p>Potato</p>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/sweetpotato.jpg') }}" alt="Sweet potato">
              <p>Sweet potato</p>
            </div>
            <div>
              <img class="smSize" src="{{url_for('static', filename='images/productimg/tomato.jpg') }}" alt="Tomato">
              <p>Tomato</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </main>



 {% include 'footer.html' %}
</body>

<script src="{{url_for('static', filename='js/staticSearch.js') }}"></script>
<script src="{{url_for('static', filename='js/Suggestion.js') }}"></script>

</html>