main {
  display: flex;
  flex-direction: column;
}

.categorynav {
  align-items: center;
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  width: 100%;
  padding: 16px;
  margin: 5px 0;
  font-size: 10px;
  color: rgb(120, 120, 120);
}

.productcontainer {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 80%;
}

.productimage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.productimage img {
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgb(120, 120, 120);
  width: 400px;
  height: 400px;
}

.productinfo {
  width: 600px;
  padding: 20px 0;
}

.productinfo h2 {
  margin-bottom: 10px;
}

.description {
  font-size: 13px;
  width: 60%;
  margin-bottom: 20px;
}

.price {
  margin-bottom: 10px;
}

.productinfo form input { 
  width: 70px;
  outline: none;
  border: none;
  border-radius: 8px;
  height: 40px;
  text-align: center;
  margin: 0 10px 20px 0;
  font-size: 16px;
  box-shadow: 0 0 2px 0 rgb(120, 120, 120);
}

.productinfo form i {
  display: block;
  font-size: 20px;
  opacity: 0.5;
}

.shipping
{
  display: inline-block;
  opacity: 0.5;
  font-size: 11px;
}

.productinfo form button {
  display: block;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: var(--website-green);
  padding: 15px 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.productinfo form button:hover {
  background-color: rgb(100, 185, 70, 0.9);
}

.review
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.review textarea
{
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 10px;
  margin-bottom: 18px;
  outline: none;
  padding: 5px 10px;
  width: 800px;
  height: 200px;
  resize: none;
  font-size: 15px;
  box-shadow: 0 0 5px 0 rgb(120, 120, 120);
}

.submitcontainer button, select
{
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  background-color: var(--website-green);
  color: white;
  outline: none;
}

.submitcontainer button:hover
{
  background-color: rgb(100, 185, 70, 0.9);
}

#reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.review-heading {
  letter-spacing: 1px;
  margin: 30px 0;
  padding: 10px 20px;
}

.review-heading h2 {
  font-size: 2.2rem;
  font-weight: 500;
  border: 2px solid rgb(36, 153, 225);
  background-color: rgb(49, 168, 241);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 0 15px 0 rgba(25, 135, 205, 0.5);
}

.review-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.review-box {
  width: 500px;
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgb(120, 120, 120);
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile 
{
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #979797;
}

.reviews {
  color: #f9d71c;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comments p {
  font-size: 0.9rem;
  color: #4b4b4b;
}