#container {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: sans-serif;

}

.subDiv {
  width: 82%;
  margin: auto;
  padding-top: 30px;
  font-family: serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.subDiv>div {
  width: 24%;

  /* height: 200px; */
  line-height: 26px;

}

.subDiv>img {
  width: 100%;
}

.subDiv>div:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 12px 48px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 2px;

}

#fv>div>div {
  display: flex;
  justify-content: space-evenly;
}


.subDiv2 {
  width: 80%;
  margin: auto;
  font-family: serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  align-content: center;
  flex-wrap: wrap;
}

.subDiv2>div {
  width: 15%;

  /* height: 200px; */
  line-height: 5px;

}

.subDiv2>img {
  width: 100%;
}

.smSize {
  height: 150px;
}

.subDiv2>div:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 12px 48px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 2px;

}


.fvDiv {
  width: 90%;
  margin: auto;
  padding-top: 30px;
  display: grid;
  line-height: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas:
    "A A B C"
    "A A D E";


}


#a {
  grid-area: A;
}

#b {
  grid-area: B;
}

#c {
  grid-area: C;
}

#d {
  grid-area: D;
}

#e {
  grid-area: E;
}

#category_wala_part {
  display: flex;
  border: 1px solid gray;
  flex-direction: column;
}

.category_wala_part_first {
  display: flex;
  margin-right: 1%;

}

#category_wala_part>div p {
  margin-bottom: 0%;
  margin-top: 0%;
  padding: 0.5em;
}

h3 {
  margin-top: 27px;
}

/* //////////////////start dropDown/////////////////// */
.category {
  display: flex;
}

.category-hover-div {
  display: flex;
  width: 70%;
  position: absolute;
  height: 420px;
  background: #fff;
  border-radius: 0px 0px 4px 4px;

  visibility: hidden;

  /* overflow: hidden; */
}

.category p {
  background-color: #84c225;
}

.category:hover .category-hover-div {
  margin-top: 2.6%;
  visibility: visible;
  opacity: 1;
  box-shadow: 3px 2px 2px 2px black;
}

.category-hover-div-left {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.category-hover-div-left-options {
  width: 100%;
  height: auto;
  padding: 5%;
  border-bottom: 1px solid #e4e4e4;

  font-size: 14px;
  display: flex;
  color: #555;
  cursor: pointer;
  position: relative;
}

.category-hover-div-left-options:hover {
  color: #000;
}

.category-hover-div-right {
  width: 70%;
  height: auto;
  display: flex;
  padding-left: 45px;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #eaeaea;
  z-index: 1;
}

.category-hover-div-right a {
  width: 25%;
  /* height: auto; */
  font-size: 14px;
  line-height: 30px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
}

.category-hover-div-right a:hover {
  background-color: white;
}

/* ////////////navbar done//////// */

/* image sliding  start */

#show1 img {
  width: 100%;
}

#image_slider_under_image {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

#image_slider_under_image div {
  width: 20%;
  margin-top: 2%;
  margin-right: 2%;
}

#image_slider_under_image image {
  width: 100%;
}


.btn button {
  padding: 16px 62px;
  border-radius: 18px;
  border: none;
  background-color: rgb(69, 139, 19);
  color: black;
  transition: all 0.3s;
}

.btn button:hover {
  color: white;
  background-color: rgb(100, 185, 70);
}

.btn button a {
  color: white;
  text-decoration: none;
}


.btn {
  margin: 25px;
  display: flex;
  justify-content: space-around;
}




.wrapper {
  max-width: 450px;
  margin: 16px auto;
}

.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li {
  display: block;
}

.autocom-box li:hover {
  background: #efefef;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}


@media all and (min-width:480px) and (max-width:780px) {
  #navbar {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, auto);
  }

  #container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(40, auto);
  }

}